services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.development
    tty: true
    volumes:
      - .:/app
      - bundle:/usr/local/bundle
    env_file:
      - .env
    working_dir: /app
    environment:
      APPLICATION_NAME: sabore
      BUNDLE_GEMFILE: /app/Gemfile
      PORT: 3000
      JWT_KEY: supersecret
    command: bin/docker-dev-start-web.sh
    ports:
      - "3000:3000"
volumes:
  bundle:
